<template lang="html">
  <section id="add">
    <div class="add_error">
      <div class="error_img">
        <img src="img/printer5.png" alt="必填字段出错" />
      </div>
      <div class="error_word">请完善打印机填写项</div>
    </div>
    <header class="add_header">{{title}}
      <div class="add_header_cancel" @click="cancelAdd">取消</div>
      <div class="add_header_complete" @click="completeAdd">完成</div>
    </header>
    <div class="add_input">
      <div class="add_left">
        <div class="add_left_no"></div>
        <div class="add_left_img">
          <img src="img/printer2.png" alt="添加打印机" />
        </div>
        <div class="add_left_bottom">
          <span></span>
          <span>在线</span>
        </div>
      </div>
      <div class="add_right">
        <div class="add_name">
          <input type="text" class="input_name" placeholder="名称" :value="modifying.name">
        </div>
        <div class="add_ip">
          <input type="text" class="input_ip" placeholder="IP地址" :value="modifying.ip">
        </div>
        <div class="add_port">
          <input type="number" min="00" max="99" class="input_port" placeholder="打印端口" :value="modifying.printPort">
        </div>
        <div class="add_manage">
          <input type="number" class="input_manage" placeholder="管理端口" :value="modifying.adminPort">
        </div>
        <div class="add_section">
          <input type="text" class="input_section" placeholder="所属菜品区" :value="modifying.section">
        </div>
        <div class="add_station">
          <input type="text" class="input_station" placeholder="厨师站名称" :value="modifying.station">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from 'n-zepto'
import { postPrinter, putPrinter } from '../vuex/actions.js'

export default {
  data: function () {
    return {
    }
  },
  vuex: {
    getters: {
      modifying: state => state.modifying
    },
    actions: {
      cancelAdd: ({dispatch}) => dispatch('CANCELadd'),
      postPrinter,
      putPrinter
    }
  },
  computed: {
    title: function () {
      if (window.JSON.stringify(this.modifying) === '{}') {
        return '新增打印机'
      } else {
        return '编辑打印机'
      }
    }
  },
  ready: function () {},
  attached: function () {},
  methods: {
    completeAdd: function () {
      // 收集数据 and 检测数据
      let flag = true
      console.log(flag)
      function errorStyle ($el) {
        $el.css({'border-bottom': '1px solid rgb(243, 108, 96)', 'background-color': 'rgba(253, 224, 220, 0.2)'})
        flag = false
      }
      function successStyle ($el) {
        $el.css({'border-bottom': '', 'background-color': ''})
      }
      let name = $.trim($('.input_name').val())
      if (name === '') {
        errorStyle($('.add_name'))
      } else {
        successStyle($('.add_name'))
      }
      let ip = $.trim($('.input_ip').val())
      if (ip === '') {
        errorStyle($('.add_ip'))
      } else {
        successStyle($('.add_ip'))
      }
      let printPort = window.parseInt($('.input_port').val())
      if (/^\d{1,5}$/.test(printPort)) {
        successStyle($('.add_port'))
      } else {
        errorStyle($('.add_port'))
      }
      let adminPort = window.parseInt($('.input_manage').val())
      if (/^\d{1,5}$/.test(adminPort)) {
        successStyle($('.add_manage'))
      } else {
        errorStyle($('.add_manage'))
      }
      let section = $.trim($('.input_section').val())
      if (section === '') {
        errorStyle($('.add_section'))
      } else {
        successStyle($('.add_section'))
      }
      let station = $.trim($('.input_station').val())
      if (station === '') {
        errorStyle($('.add_station'))
      } else {
        successStyle($('.add_station'))
      }
      if (!flag) {  // 检测不通过，弹出错误提示
        let err = $('.add_error')
        err.css({'display': 'block'})
        window.setTimeout(function () {
          err.css({'display': ''})
        }, 5000)
      } else {  // 检测通过，则提交请求
        let newPrinter = {
          name: name,
          ip: ip,
          printPort: printPort,
          adminPort: adminPort,
          section: section,
          station: station
        }
        console.log(newPrinter)
        console.log(window.JSON.stringify(this.modifying))
        if (window.JSON.stringify(this.modifying) === '{}') {
          this.postPrinter(newPrinter)
        } else {
          this.putPrinter(this.modifying.id, newPrinter)
        }
      }
    }
  },
  components: {}
}
</script>

<style lang="css" scoped>
  #add {
    width: 100%; height: 100%;
    background-color: rgb(250, 250, 250);
    position: relative;
  }
  .add_error {
    width: 4rem; height: 1.6rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    display: none;
  }
  .error_img {
    height: 1.1rem;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .error_img img {
    width: 0.48rem; height: 0.44rem;
  }
  .error_word {
    height: 0.25rem; line-height: 0.25rem; text-align: center;
    font-size: 0.2rem;
    color: white;
  }
  .add_header {
    height: 0.8rem; line-height: 0.8rem; width: 100%;
    top: 0; left: 0;
    background-color: rgb(0, 188, 212);
    text-align: center;
    color: white;
    position: fixed;
  }
  .add_header_cancel, .add_header_complete {
    width: 0.8rem; height: 0.48rem; line-height: 0.48rem; text-align: center;
    border: 1px solid white; border-radius: 0.04rem;
  }
  .add_header_cancel {
    float: left;
    margin-left: 0.24rem; margin-top: 0.16rem;
  }
  .add_header_complete {
    float: right;
    margin-right: 0.24rem; margin-top: 0.16rem;
  }
  .add_input {
    width: 10.24rem; min-height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 0.8rem;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .add_left {
    width: 1.5rem; height: 1.94rem;
    border: 1px solid rgb(234, 234, 234);
    margin-left: 0.24rem; margin-top: 0.44rem;
    float: left;
  }
  .add_left_no {
    height: 0.3rem;
  }
  .add_left_img {
    height: 1.2rem;
    border-bottom: 1px solid rgb(234, 234, 234);
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .add_left_img img {
    width: 0.6rem; height: 0.6rem;
  }
  .add_left_bottom {
    height: 0.44rem; width: 100%;
    line-height: 0.44rem;
  }
  .add_left_bottom span:nth-child(1) {
    width: 0.08rem; height: 0.08rem;
    border-radius: 50%;
    background-color: rgb(139, 195, 74);
    display: block;
    float: left;
    margin-left: 0.5rem; margin-top: 0.18rem;
  }
  .add_left_bottom span:nth-child(2) {
    margin-left: 0.1rem;
    font-size: 0.16rem;
    color: rgb(122, 122, 122);
  }
</style>
<style scoped>
.add_right {
  float: right; margin-right: 0.24rem; margin-top: 0.15rem;
  width: 7.85rem;
}
.add_right div {
  width: 100%; height: 0.8rem;
  border-bottom: 1px solid rgb(234, 234, 234);
}
.add_right input {
  width: 80%; height: 0.8rem;
  font-size: 0.16rem; color: rgb(122, 122, 122);
  background-color: rgba(0, 0, 0, 0);
}
.add_right input::-webkit-input-placeholder {
  color: rgb(193, 195, 197)!important; /* WebKit browsers */
}
.add_right input:-moz-placeholder {
  color: rgb(193, 195, 197)!important; /* Mozilla Firefox 4 to 18 */
}
.add_right input::-moz-placeholder {
  color: rgb(193, 195, 197)!important; /* Mozilla Firefox 19+ */
}
.add_right input:-ms-input-placeholder {
  color: rgb(193, 195, 197)!important; /* Internet Explorer 10+ */
}
</style>
