<template>
  <section id="index">
    <div class="index_suspend" @click="addPrinter">
      <img src="img/printer4.png" alt="点击新增打印机" />
    </div>
    <header class="index_header">
      <div class="index_header_back">
        <img src="img/printer1.png" alt="返回" />
      </div>
      <div class="index_header_name">打印机管理</div>
      <div class="index_header_right">
        <div class="index_header_cancel" @click="cancelRm">取消</div>
        <div class="index_header_complete" @click="completeRm">完成</div>
        <div class="index_header_remove" @click="rmPrinters">删除</div>
      </div>
    </header>
    <ul class="printers_all">
      <li class="printer" v-for="printer in allPrinters" data-id={{printer.id}} @click="modifyPrinter(printer)">
        <div class="printer_no">缺纸</div>
        <div class="printer_img">
          <img src="img/printer2.png" alt="点击修改" />
        </div>
        <div class="printer_bottom">{{printer.name}}</div>
        <img class="printer_remove" src="img/printer3.png" alt="点击删除" @click.stop="remove($event)">
      </li>
    </ul>
  </section>
</template>

<script>
import $ from 'n-zepto'
var FastClick = require('fastclick')
FastClick.attach(document.body)
import { removePrinters } from '../vuex/actions.js'

export default {
  data () {
    return {
      msg: 'Hello World!'
    }
  },
  vuex: {
    getters: {
      allPrinters: state => state.allPrinters,
      handlePrinter: state => state.handlePrinter
    },
    actions: {
      removePrinters,
      addPrinter: ({dispatch}) => dispatch('ADDprinter'),
      modifyPrinter: ({dispatch}, data) => dispatch('MODIFYprinter', data)
    }
  },
  methods: {
    rmPrinters: function () {  // 右上角删除按钮点击事件
      // 更改样式
      $('.index_header_remove').css({'display': 'none'})
      $('.index_header_cancel').css({'display': 'block'})
      $('.index_header_complete').css({'display': 'block'})
      $('.printer_remove').css({'display': 'block'})
    },
    cancelRm: function () {  // 右上角取消按钮点击事件
      // 恢复样式
      $('.index_header_remove').css({'display': ''})
      $('.index_header_cancel').css({'display': ''})
      $('.index_header_complete').css({'display': ''})
      $('.printer_remove').css({'display': ''})
      $('.printer').each(function (i, item) {  // 取消隐藏的打印机
        if (item.style.display === 'none') {
          item.style.display = ''
        }
      })
    },
    remove: function (e) {  // 点击叉号暂时隐藏打印机
      $(e.currentTarget).parent().css({'display': 'none'})
    },
    completeRm: function () {  // 完成删除，将隐藏的打印机删除掉
      let toRemove = []
      $('.printer').each(function (i, item) {
        if (item.style.display === 'none') {
          toRemove.push($(item).data('id'))
        } else {
          item.style.display = ''
        }
      })
      if (toRemove.length) this.removePrinters(toRemove)
      // 恢复样式
      $('.index_header_remove').css({'display': ''})
      $('.index_header_cancel').css({'display': ''})
      $('.index_header_complete').css({'display': ''})
      $('.printer_remove').css({'display': ''})
    }
  }
}
</script>

<style scoped>
#index {
  width: 100%; height: 100%;
  background-color: rgb(250, 250, 250);
  position: relative;
}
.index_suspend {
  position: absolute;
  width: 0.64rem; height: 0.64rem;
  background-color: rgb(205, 220, 57);
  top: 0.48rem; right: 2.4rem;
  border-radius: 50%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.index_suspend img {
  width: 0.16rem; height: 0.16rem;
}
.index_header {
  background-color: rgb(0,188,212);
  width: 100%; height: 0.8rem;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.50);
}
.index_header_back {
  float: left;
  width: 0.72rem; height: 100%;
}
.index_header_back img {
  width: 0.16rem; height: 0.16rem;
  margin-left: 0.24rem; margin-top: 0.32rem;
  display: block;
}
.index_header_name {
  float: left;
  height: 100%; line-height: 100%;
  font: 0.2rem/0.8rem PingFang-SC-Medium;
  color: white;
}
.index_header_right {
  float: right;
}
.index_header_cancel, .index_header_complete, .index_header_remove {
  float: left;
  width: 0.8rem; height: 0.48rem; line-height: 0.48rem; text-align: center;
  border: 1px solid white; border-radius: 0.04rem;
  color: white;
  margin-top: 0.16rem; margin-right: 0.24rem;
  font-size: 0.2rem;
}
.index_header_cancel, .index_header_complete {
  display: none;
}
ul.printers_all {
  margin-right: 0.24rem;
  overflow: hidden;
}
li.printer {
  margin-top: 0.44rem; margin-left: 0.24rem;
  width: 2.28rem; height: 2.92rem;
  background-color: white;
  border: 1px solid rgb(234, 234, 234);
  position: relative;
  float: left;
}
.printer_no {
  width: 100%; height: 0.4rem; line-height: 0.4rem; text-align: center;
  color: white;
  /*background-color: rgb(255, 87, 34);*/
  font-size: 0.16rem;
}
.printer_img {
  height: 1.88rem;
  border-bottom: 1px solid rgb(234, 234, 234);
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.printer_img img {
  width: 0.9rem; height: 0.88rem;
}
.printer_bottom {
  height: 0.64rem; line-height: 0.64rem;
  text-align: center;
  font-size: 0.2rem;
  color: rgb(98, 98, 98);
}
.printer_remove {
  position: absolute;
  width: 0.4rem; height: 0.4rem;
  top: -0.2rem; right: -0.2rem;
  display: none;
}
</style>
