<template>
  <article id="container">
    <index v-if="handlePrinter === 0"></index>
    <div id="handle_printer" v-else>
      <add-printer v-if="handlePrinter === 1"></add-printer>
      <add-printer v-if="handlePrinter === 2"></add-printer>
    </div>
  </article>
</template>

<script>
import Vue from 'vue'
import Vuex from 'vuex'
import store from './vuex/store'
import index from './components/index.vue'
import addPrinter from './components/addPrinter.vue'
// import modifyPrinter from './components/modifyPrinter.vue'

Vue.use(Vuex)

export default {
  data: function () {
    return {
    }
  },
  store: store,
  vuex: {
    getters: {
      handlePrinter: state => state.handlePrinter
    }
  },
  components: {
    index: index,
    addPrinter: addPrinter
    // modifyPrinter: modifyPrinter
  }
}
</script>

<style>
#container {
  width: 100%; height: 100%;
}
#handle_printer {
  width: 100%; height: 100%;
}
</style>
